architecture: standalone

auth:
  enabled: false

master:
  persistence:
    enabled: true
    storageClass: "local-storage-retain"
    size: 1Gi

replica:
  replicaCount: 0

resources:
  requests:
    memory: 256Mi
    cpu: 100m
  limits:
    memory: 512Mi
    cpu: 200m
